@tailwind base;
@tailwind components;
@tailwind utilities;

.-left-3-5 {
  left: -0.85rem;
}

.animated-gradient-short {
  animation: animatedGradientShort 5s infinite ease;
  animation-fill-mode: both;
  animation-direction: alternate;
  background-clip: text;
  color: transparent; 
}

@keyframes animatedGradientShort {
  0%, 100% {
    background-size: 100%;
  }

  50% {
    background-size: 40%;
  }
}

.animated-gradient {
  animation: animatedGradient 2s infinite ease;
  animation-fill-mode: both;
  animation-direction: alternate;
  background-clip: text;
  color: transparent; 
}

@keyframes animatedGradient {
  0%, 100% {
    background-size: 100%;
  }

  50% {
    background-size: 250%;
  }
}

.gradient-text-short {
  @apply text-transparent bg-clip-text;
  @apply bg-gradient-to-r;
  @apply from-blue-500 via-purple-500 to-indigo-500;
}

.gradient-text {
  @apply text-transparent bg-clip-text;
  @apply bg-gradient-to-r;
  @apply from-blue-500 to-indigo-500 via-purple-500;
}

/* DaisyUI */
/*
.avatar img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.avatar img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.mask {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
.mask-squircle {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0Z'/%3e%3c/svg%3e");
    mask-image: url("data:image/svg+xml,%3csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0Z'/%3e%3c/svg%3e");
}*/