---
export interface Props {
  rating: number
  label?: string
}

const { rating, label } = Astro.props
---

<div class="flex">
  <div class="grow"><slot name="label" />{label && <p class="text-sm font-medium">{label}</p>}</div>
  <div><progress class="progress w-56" value={rating} max="100"></progress></div>
</div>