---
import ChevronUp from "../icons/ChevronUp.astro";
---

<div
  class="absolute float-right text-right scroll-top bottom-2 right-4 sm:bottom-6 sm:right-6 lg:bottom-8 lg:right-8"
>
  <a
    class="sticky inline-block p-2 text-white transition bg-gray-300 rounded-full shadow hover:bg-gray-500 sm:p-3 lg:p-4"
    href="#top"
  >
    <span class="sr-only">Back to top</span>
    <ChevronUp class="w-5 h-5" />
  </a>
</div>
<style>
  .scroll-top {
    animation: fadeIn 2s ease-in-out forwards 3s;
    animation-delay: 5s;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .scroll-top:before {
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
  }
  .scroll-top a {
    top: 88vh;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
